@tailwind base;
@tailwind components;
@tailwind utilities;

label {
  @apply my-2;
}

.input-form {
  @apply w-full py-2 px-3 rounded-md text-white bg-neutral-600;
}
.btn-form {
  @apply w-full py-2 rounded-md text-white bg-neutral-950 border border-neutral-700 mt-10 cursor-pointer;
}
.error {
  @apply text-red-500 py-1 text-sm;
}
.loading-icon circle {
  animation: dash 1.5s ease-in-out infinite;
}

.loading-icon path {
  animation: rotate 1.5s linear infinite;
}

@keyframes dash {
  0% {
    strokedasharray: 1, 150;
    strokedashoffset: 0;
  }
  50% {
    strokedasharray: 90, 150;
    strokedashoffset: -35;
  }
  100% {
    strokedasharray: 90, 150;
    strokedashoffset: -124;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
