@tailwind base;
@tailwind components;
@tailwind utilities;

.form-input {
  @apply w-full py-1 px-2 rounded-md bg-slate-400;
}
input {
  @apply text-black outline-0;
}
label {
  @apply py-2;
}
.error {
  @apply text-red-500 max-w-[300px];
}
.btn-submit {
  @apply bg-blue-500 text-white font-medium py-2 px-4 rounded-md;
}
.loader {
  padding: 16px;
}

.icon {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.custom-shadow {
  --shadow-color: rgba(25, 27, 31, 0.742);
  --shadow-x: 0;
  --shadow-y: 3px;
  --shadow-blur: 30px;
  --shadow-spread: 0;

  box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur)
    var(--shadow-spread) var(--shadow-color);
}
.custom-shadow:hover {
  --shadow-color: rgba(0, 17, 31, 0.742);
}
